@import "tailwindcss";

.rbc-toolbar button {
  color: black !important;
}

.rbc-toolbar button:hover {
  color: black !important;
}

.rbc-toolbar button.rbc-active {
  background: #2563eb !important;
  color: white !important;
}

.rbc-off-range-bg {
  background: #f8fafc !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn .35s ease;
}
